@import "../../jspm_packages/npm/materialize-css@0.97.5/sass/components/color";

$primary-color: color("deep-orange", "darken-3");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("blue", "darken-2");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");
